<h1>Agregar un producto</h1>
<form id="form_upload_product" onSubmit="newProduct(); return false" method="post">
    <label for="name_product">Nombre Producto</label>
    <input type="text" name="title" id="name_product">
    <br />
    <br />
    <label for="price_product">Precio Producto</label>
    <input type="text" name="price" id="price_product">
    <br />
    <br />
    <label for="url_product">URL Imagen Producto</label>
    <input type="text" name="thumbnail" id="url_product">
    <br />
    <br />
    <button type="reset" class="btn btn-danger">Resetear</button>
    <button type="submit" class="btn btn-success">Agregar</button>
</form>
<button type="button" class="btn btn-warning"><a href="/api/productos" class="text-decoration-none text-light">Ver
        productos añadidos</a></button>
<div>
    <h1>Productos</h1>
    <table class="table" id="index">
        <tr>
            <th>Nombre</th>
            <th>Precio [US$]</th>
            <th>Imagen</th>
        </tr>
        {{#if isEmpty}}
        <tr>
            <td>No hay productos subidos</td>
        </tr>
        {{/if}}
        {{#each productos}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>
                <img src={{this.thumbnail}} alt="imagen" width="25px" />
            </td>
        </tr>
        {{/each}}
    </table>
    <button type="button" class="btn btn-success"><a href="/" class="text-decoration-none text-light">Agregar
            productos</a></button>
</div>
<div class="m-3">
    <h2>Chat</h2>
    <div class="border border-primary">
        <ul id="messages" class="list-group"></ul>
    </div>
    <form id="form" action="" class="input-group">
        <div class="input-group">
            <input type="email" name="email" id="email_input" placeholder="email@email.com" class="form-control" required />
        </div>
        <div class="input-group">
        <input class="form-control" id="msg_input" autocomplete="off" aria-describedby="button-addon1" placeholder="mensaje" />
        <button class="btn btn-light btn-outline-dark" type="submit" id="button-addon1">Enviar</button>
        </div>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>
