<header>
    {{!-- NAVBAR --}}
    <nav class="navbar navbar-light bg-primary d-flex">
        <div class="container-fluid">
            {{!-- LOGO --}}
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="./img/miniEquinoccioLudicoLogo.png" alt="logo Equinoccio Ludico" width="30" height="30"
                    class="d-inline-block align-text-top ">
                <div class="fw-bold p-1">Equinoccio Lúdico</div>
            </a>
            <button id="products-link-button" class="btn btn-link text-white fw-bold d-none text-decoration-none fs-4">Productos</button>
            {{!-- BOTONES LOGIN + REGISTRO --}}
            <div id="out-account" class="justify-content-start d-none">
                <button id="nav-signin" class="btn btn-outline-dark btn-success fw-bold me-2"
                    type="button">Login</button>
                <button id="nav-signup" class="btn btn-outline-dark btn-secondary fw-bold"
                    type="button">Registro</button>
            </div>
            {{!-- BOTONES CARRITO + USUARIO LOGUEADO --}}
            <div id="in-account" class="justify-content-start d-none d-flex">
                <button id="nav-cart" class="btn btn-outline-dark btn-warning fw-bold me-2 d-none" type="button"><img
                        src="https://cdn0.iconfinder.com/data/icons/iconoteka-stroke/24/iconoteka_shopping_cart__grocery_store_b_s-256.png"
                        alt="carrito" width="20"></button>
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle me-2 fw-bold" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div id="user-avatar" class="text-center"></div>
                        <button id="nav-signout" class="text-center dropdown-item text-danger fw-bold me-2"
                            type="button">Desconectar</button>
                    </div>
                </div>
            </div>
            {{!-- ICONO DE CARGA --}}
            <div id="loading-icon" class="justify-content-start d-none">
                <img src="https://cdn2.iconfinder.com/data/icons/seo-and-website/100/SEO_setting_chart_gear-512.png"
                    alt="loading" class="loading-icon">
            </div>
        </div>
    </nav>
</header>
<main class="text-center">
    {{!-- IMAGEN HOME LOGO --}}
    <div id="homeImage" class="container-fluid text-center mt-5 p-3">
        <img src="./img/equinoccioLudicoLogo.png" width="400px" alt="home image">
    </div>
    {{!-- REGISTRO --}}
    <div id="signup-div" class="container-fluid p-3 d-none">
        <div class="container p-3">
            <form id="signup-form">
                <div class="form-group">
                    <h2 class="text-white fw-bold">Datos de la cuenta</h2>
                    <div class="mb-3 text-start">
                        <label for="email-signup" class="form-label text-white">E-mail</label>
                        <input type="email" name="email" class="form-control" id="email-signup"
                            aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">No compartiremos tu e-mail con nadie</div>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="password-signup" class="form-label text-white">Contraseña</label>
                        <input type="password" name="password" class="form-control" id="password-signup">
                    </div>
                </div>
                <div class="form-group">
                    <h2 class="text-white fw-bold">Datos personales</h2>
                    <div class="mb-3 text-start">
                        <label for="inputName" class="form-label text-white">Nombre</label>
                        <input type="text" class="form-control" id="inputName">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="inputAddress" class="form-label text-white">Dirección</label>
                        <input type="text" class="form-control" id="inputAddress">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="inputAge" class="form-label text-white">Edad</label>
                        <input type="number" class="form-control" id="inputAge">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="inputPhone" class="form-label text-white">Teléfono</label>
                        <input type="text" class="form-control" id="inputPhone">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="inputUploadFile" class="form-label text-white">Avatar</label>
                        <input class="form-control" name="inputUploadFile" type="file" id="inputUploadFile">
                    </div>
                </div>
                <button type="submit" formaction="sign-up" class="btn btn-secondary">Registrarse</button>
            </form>
        </div>
    </div>
    {{!-- LOGIN --}}
    <div id="signin-div" class="container-fluid p-3 d-none">
        <div class="container p-3">
            <form id="signin-form">
                <div class="mb-3 text-start">
                    <label for="email-signin" class="form-label text-white">E-mail</label>
                    <input type="email" name="email" class="form-control" id="email-signin"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">No compartiremos tu e-mail con nadie</div>
                </div>
                <div class="mb-3 text-start">
                    <label for="password-signin" class="form-label text-white">Contraseña</label>
                    <input type="password" name="password" class="form-control" id="password-signin">
                </div>
                <button type="submit" formaction="sign-in" class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
    {{!-- OUTPUT --}}
    <div id="output-div" class="d-none">
        <div>
            <output id="user-output" class="fs-2"></output>
        </div>
    </div>
    {{!-- ERROR DE AUTORIZACIÓN --}}
    <div id="auth-error" class="d-flex justify-content-center d-none">
        <h2 id="error-title"></h2>
        <button id="go-back-button" type="button" class="ms-3 btn btn-warning">Atrás</button>
    </div>
    {{!-- FORMULARIO PARA AGREGAR UN NUEVO PRODUCTO --}}
    <div id="form-add" class="d-none p-3">
        <h2 class="text-white fw-bold">Agregar un producto</h2>
        <form id="form_upload_product" action="/" method="post">
            <label for="name_product" class="text-white">Nombre Producto</label>
            <input type="text" name="title" id="name_product">
            <br />
            <br />
            <label for="price_product" class="text-white">Precio Producto</label>
            <input type="text" name="price" id="price_product">
            <br />
            <br />
            <label for="url_product" class="text-white">URL Imagen Producto</label>
            <input type="text" name="thumbnail" id="url_product">
            <br />
            <br />
            <button type="submit" class="btn btn-success">Agregar</button>
        </form>
    </div>
    {{!-- LISTA DE PRODUCTOS --}}
    <div id="products-table" class="text-white d-none">
        <h2>Productos</h2>
        <table class="table bg-white" id="tableProducts">
            <tr>
                <th>Nombre</th>
                <th>Precio [US$]</th>
                <th>Imagen</th>
                <th>Agregar al carrito</th>
            </tr>
            {{#if isEmpty}}
            <tr>
                <td colspan="4" class="text-white">No hay productos subidos</td>
            </tr>
            {{/if}}
        </table>
    </div>
    {{!-- CARRITO --}}
    <div id="cart-div" class="d-none">
        <h1 class="text-white">Carrito de Compras</h1>
        <div id="table-container" class="bg-white">
            <table id="table-cart-products" class="m-auto table table-borderless" border="2" align="center"></table>
        </div>
        <div id="buttons-cart">
            
        </div>
    </div>
</main>
{{!--
<footer>
</footer>
--}}