* {
    /* margin: 0px; */
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Courier, monospace;
    text-align: center;
}

/* PRODUCTOS */
.card {
    background-color: aquamarine;
    padding: 1rem;
    margin: 10px;
}

.card1 {
    display: inline-block;
}

.card2 {
    display: inline-block;
}

.card3 {
    display: inline-block;
}

#addProductForm {
    background-color: cadetblue;
}
/* CARRITO DE COMPRAS */
